<body>
    <p>Click the buttons to do stuff</p>
    <div>
        <button (click)="populateDivisibleBy(1)"> reset </button>
        <button (click)="populateDivisibleBy(2)"> /2 </button>
        <button (click)="populateDivisibleBy(3)"> /3 </button>
        <button (click)="populateDivisibleBy(4)"> /4 </button>
    </div>

    <table>
        <tr>
            <td>{{numbers[0]}}</td>
            <td>{{numbers[1]}}</td>
            <td>{{numbers[2]}}</td>
            <td>{{numbers[3]}}</td>
            <td>{{numbers[4]}}</td>
        </tr>
        <tr>
            <td>{{numbers[5]}}</td>
            <td>{{numbers[6]}}</td>
            <td>{{numbers[7]}}</td>
            <td>{{numbers[8]}}</td>
            <td>{{numbers[9]}}</td>
        </tr>
        <tr>
            <td>{{numbers[10]}}</td>
            <td>{{numbers[11]}}</td>
            <td>{{numbers[12]}}</td>
            <td>{{numbers[13]}}</td>
            <td>{{numbers[14]}}</td>
        </tr>
        <tr>
            <td>{{numbers[15]}}</td>
            <td>{{numbers[16]}}</td>
            <td>{{numbers[17]}}</td>
            <td>{{numbers[18]}}</td>
            <td>{{numbers[19]}}</td>
        </tr>
        <tr>
            <td>{{numbers[20]}}</td>
            <td>{{numbers[21]}}</td>
            <td>{{numbers[22]}}</td>
            <td>{{numbers[23]}}</td>
            <td>{{numbers[24]}}</td>
        </tr>
    </table>
</body>