h1  {
    font-size: 15px;
}

body {
    background-color: lightblue;
    max-width: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.red {
    color: red;
    background-color: pink;
}

.green {
    color: green;
    background-color: lightgreen;
}

.blue {
    color: blue;
    background-color: lightblue;
}